<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="pull-left">Contacts</h3>
                        <button class="btn btn-success pull-right" routerLink="new">New Contact</button>
                    </div>
                </div>
            </div>
            <div class="panel-body" cdkDropList id="contactsList" [cdkDropListData]="contacts"
                [cdkDropListConnectedTo]="['groupList']">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="draggable-contact-wrapper" *ngFor="let contactEl of contacts; let i = index" cdkDrag
                            [cdkDragDisabled]="contactEl.id === selectedContactId">
                            <cms-contact-item [contact]="contactEl" [index]="i"></cms-contact-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>